@import "bourbon/bourbon"
@import "neat/neat"
// @import "reset"

body
  @include outer-container

pre
  padding: 20px
  background: #fff
  text-shadow: none
  overflow: auto
  border: solid 1px #f2f2f2
