!!!
%html
  %head
    %title RailsDiff
    %link(href="/assets/pygment_trac.css" rel="stylesheet")/
    %link(href="/assets/app.css" rel="stylesheet")/
  %body
    %header
      %h1 RailsDiff

    = yield

    %script(src="assets/app.js")
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7325596-4']);
      _gaq.push(['_setSiteSpeedSampleRate', 100]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = 'http://www.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

