!!!
%html
  %head
    %title RailsDiff
    %link(href="/assets/pygment_trac.css" rel="stylesheet")/
    %link(href="/assets/app.css" rel="stylesheet")/
  %body
    %header
      %h1
        %a(href="/") RailsDiff

      %form
        %label
          Source
          %select(name="source")
            - versions.each do |version|
              %option(name="v#{version}" value="v#{version}")= version
        %a.switch(href="#")<
          %img(src="/assets/arrow_refresh.png")/
        %label
          Target
          %select(name="target")
            - versions.reverse.each do |version|
              %option(name="v#{version}" value="v#{version}")= version
        %input(type="submit" value="View Diff")/

    .content
      = yield

    %a(href="https://github.com/jswanner/RailsDiff")
      %img(alt="Fork me on GitHub" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" style="position: absolute; top: 0; right: 0; border: 0;")/

    %script(src="/assets/app.js")
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7325596-4']);
      _gaq.push(['_setSiteSpeedSampleRate', 100]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = 'http://www.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

